.container {
    background-image: linear-gradient(#FEFEFE,#EFEFEF,#E2E2E2);
    height: 100vh;
    overflow: hidden;
}

.nav-wrapper {
    width: 40%;
    height: 65px;
}

.navbar {
    width: 50%;
    margin: auto;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul>li {
    cursor: pointer;
    font-size: 18px;
    margin-top: 50px;
    padding-left: 18px;
}

.content-wrapper {
    display: flex;
}

.name-wrapper {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    padding-top: 100px;
    transition: 0.8s ease-in-out;
}

.name h1{
    font-size: 73px;
}

.name p {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

button {
    font-size: 18px;
    background-color: #274C77;
    color: white;
    height: 53px;
    width: 132px;
    border-radius: 30px;
    box-shadow: 4px 4px 10px #707070;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    margin-right: 215px;
    transition: 0.8s ease-in-out;
}

button:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

button:not(:hover) {
    transition: 0.6s;
}

.symbol-wrapper {
    width: 55%;
    transition: 0.8s ease-in-out;
}

.symbol {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.email , .linkedin , .github{
    height: 54px;
    width: 54px;
    border-radius: 27px;
    background-color: #FEFEFE;
    box-shadow: 4px 4px 10px #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.email:hover , .linkedin:hover , .github:hover{
    transform: scale(1.1) translateY(-10%);
    transition: 0.3s;
}

.email:not(:hover) , .linkedin:not(:hover) , .github:not(:hover){
    transition: 0.3s;
}

.email img, .linkedin img, .github img {
    width: 24px;
}

.image-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}

.image-round {
    width: 574px;
    height: 574px;
    border-radius: 287px;
    border: 1px solid #274C77;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.image-round .half-round {
    width: 256px;
    height: 518px;
    background-color: #274C77;
    border-bottom-right-radius: 255px;
    border-top-right-radius: 255px;
    transform: rotate(45deg) translate(50%,0);
    transition: ease-in-out 0.8s;
}


.image-round img {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 490px;
    transform: rotate(1deg)translate(-3%,-1%);
}

.content2-wrapper {
    transform: translate(100%,-90.7%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.giveblood-wrapper {
    width: 900px;
    height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease-in-out;
}

.giveblood {
    width: 680px;
    height: 346px;
    border-radius: 30px;
    background-image: url('../images/gvbd.png');
    background-size: cover;
    opacity: 0.5;
}

.giveblood:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.3s ease-out;
}

.giveblood:not(:hover) {
    transition: 0.3s ease-out;
}

.skilss-wrapper {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s ease-in-out;
}

.skilss-wrapper h1 {
    font-size: 24px;
    margin-left: 50px;
    border-bottom: 1px solid #274C77;
    width: 350px;
}

.skilss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 420px;
    margin-left: 20px;
}

.skill {
    width: 140px;
    height: 140px;
    background-color: #274C77;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skill p {
    display: none;
    color: white;
}

.skill:hover p{
    display: block;
    margin-top: 14px;
}

.skill:hover {
    transition: 0.6s ease-in-out;
}